.kec{
    color: greenyellow;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 300%;
    padding: 20px;
    background-color: rgb(235, 238, 231);
}
